<footer class="o-footer">
  <div class="u-wrapper u-center u-grid-from--desktop">
    <div>
      <a class="c-link is-hidden-until--tablet" href="mailto:hello@caballe.ro">Say hello@caballe.ro</a>
    </div>

    <div class="u-text">
      &copy;2020 Jaime Caballero
    </div>
  </div>
</footer>