<footer class="o-footer">
  <div class="u-wrapper u-center u-grid-from--desktop">
    <div>
      {% include "_nav.njk" %}
    </div>

    <div class="u-text">
      &copy;2020<span class="u-h2"> Jaime Caballero</span>
    </div>
  </div>
</footer>