.o-header {
  margin-bottom: $global-spacing-unit;

  &__content {
    display: flex;
    justify-content: space-between;
    height: 77px;

    > div {
      padding: $global-spacing-unit 0;
    }
  }

  &__nav__link {
    letter-spacing: 0.01em;
    text-transform: uppercase;

    position: relative;
    top: 0.1em;
  }

  &__logo {
    padding-right: $global-spacing-unit !important;
    display: flex;
  }

  @include mq($from: tablet) {
    border-bottom: 1px solid currentColor;
    margin-bottom: $global-spacing-unit * 3;

    &__logo {
      padding-right: $global-spacing-unit * 2 !important;
      border-right: 1px solid currentColor;
    }

    &__content {
      height: 85px / $global-font-size * 1em;

      > div {
        //padding: $global-spacing-unit * 1.2 0;
      }
    }

    &__nav {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-left: $global-spacing-unit * 2 !important;
    }

    .c-logo {
      align-self: center;
    }
  }
  @include mq($from: desktop) {
    transition: 0.2s all;

    .c-logo {
    }

    &__logo {
      padding-right: $global-spacing-unit * 2 !important;
    }

    &__nav {
      font-size: 20px / $global-font-size * 1em;
    }
  }
}
