.o-properties {
  &__title {
    margin: $global-spacing-unit 0;
  }

  li {
    margin: 0.5em 0 !important;
  }

  // Top border
  @include mq($from: tablet) {
    margin-top: $global-spacing-unit;

    &:before {
      content: "";
      height: 1px;
      width: 100%;
      display: block;
      background: currentColor;
      margin-bottom: $global-spacing-unit * 2;
      box-shadow: 100px 0 0 0 currentColor;
    }
  }

  // Move lists to left
  @include mq($from: wide) {
    margin-bottom: $global-spacing-unit * 2;

    &:before {
      margin-bottom: $global-spacing-unit * 2.5;
    }

    ul {
      padding-left: 0 !important;
      margin-left: 15px !important;
    }
  }
}
