.o-tile {
  display: block;
  background: var(--color-tile, #fff);
  padding: $global-spacing-unit / 3 * 2;
  margin: $global-spacing-unit / 3 * 2 0;
  padding-bottom: 0 !important;
  color: #222;
  border: 1px solid var(--color-text);

  transition: 300ms all;
  box-shadow: 0 0 0 0 var(--color-tile);

  &__img {
    display: block;
  }

  .c-tagline {
    font-size: 0.7em;
    margin-top: 0.25em;
  }

  &__title {
    @include font-size(22px, $important: true);
    line-height: 1.1 !important;
    margin: $global-spacing-unit/2 0;
  }

  @include mq($from: tablet) {
    padding: $global-spacing-unit;
    margin: $global-spacing-unit 0;

    &__title {
      @include font-size(38px, $important: true);
      margin: $global-spacing-unit/3 * 2 0 $global-spacing-unit;
      font-size: 2.5em;
    }

    .c-tagline {
      margin-top: 0.5em;
      font-size: inherit;
    }
  }

  @include mq($from: desktop) {
    position: relative;
    margin: $global-spacing-unit * 1.5 0;

    box-shadow: 0 0 0 0 transparent, 0 0 0 0 var(--color-tile),
      0 0 0 0 var(--color-text);

    will-change: box-shadow;

    &__header {
      position: absolute;
      top: $global-spacing-unit;
      left: $global-spacing-unit;
    }

    &__title {
      width: 40%;
    }

    &__img {
      padding: $global-spacing-unit 5% 0 15%;
      margin-left: 30%;
      width: 70%;
      padding-top: $global-spacing-unit;
    }

    &:hover {
      box-shadow: 10px 10px 0 0 transparent, 10px 10px 0 0 var(--color-bg),
        10px 10px 0 1px var(--color-text);
      transform: translate3d(-5px, -5px, 0);
    }

    &:active {
      transition: 200ms all;
      transform: translate3d(0, 0, 0);
      box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.4), 5px 5px 0 0 var(--color-tile),
        5px 5px 0 1px var(--color-text);
    }

    @include mq($from: wide) {
      &__title {
        @include font-size(56px, $important: true);
        line-height: 1.1 !important;
      }

      .c-tagline {
        font-size: 1.2em;
        margin-bottom: $global-spacing-unit * 1.5;
      }
    }
  }
}
