.o-intro {
  background-color: var(--color-love-dark) !important;

  .u-wrapper {
    padding-top: $global-spacing-unit * 3;
    padding-bottom: $global-spacing-unit * 3;
    background: url("/images/bg-intro.png") no-repeat;
    background-position: center -90px;
    background-size: auto 100%;
  }

  &__photo {
    padding: $global-spacing-unit;
    max-width: 20em;
    margin: 0 auto;
  }

  h3 {
    margin-top: 0;
  }

  @include mq($from: tablet) {
    .u-wrapper {
      background-position: left center;
      background-size: auto 140%;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-items: space-around;
      padding: 0 $global-spacing-unit;

      & > .u-text {
        flex: 2;
      }
    }

    &__photo {
      flex: 0.8;
      margin-right: $global-spacing-unit;
      max-width: 45%;
      margin-left: -$global-spacing-unit;
    }
  }

  @include mq($from: desktop) {
    .u-wrapper {
      padding-top: $global-spacing-unit * 4;
      padding-bottom: $global-spacing-unit * 4;
    }

    &__content {
      display: flex;
      align-items: center;
      padding: 0 $global-spacing-unit * 3;

      & > .u-text {
        flex: 1.2;
      }
    }

    &__photo {
      margin-right: $global-spacing-unit * 2;
      max-width: 30em;
      margin-left: 0;
    }
  }
}
