.o-article {
  &__title {
    margin-top: $global-spacing-unit;
    line-height: 1.1 !important;
  }

  @include mq($until: desktop) {
    &__header .c-tagline {
      & + .c-tagline {
        margin-top: 0.5em;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $global-spacing-unit/2 0 $global-spacing-unit;
  }

  &__readtime {
    display: inline-block;
    border-bottom: 0.25em dotted currentColor;
    padding: 0.5em 0;
    opacity: 1;
  }

  &__skip {
    display: block;
    margin-left: $global-spacing-unit;
  }

  .u-whitebreak {
    padding: 1px 0 $global-spacing-unit;
    margin: $global-spacing-unit 0;
  }

  &__properties {
    // 2 columns in tablet
    @include mq($from: tablet, $until: desktop) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: -$global-spacing-unit * 2;

      .o-properties {
        margin-right: 1em;
      }
    }
  }

  // Put properties after intro on mobile
  @include mq($until: desktop) {
    &__intro {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  @include mq($from: tablet) {

    &__actions {
      margin: $global-spacing-unit * 2 0;
    }

    &__readtime {
      border: 0.25em dotted currentColor;
      padding: 1em 1.5em;
    }
  }

  @include mq($from: desktop) {
    @keyframes compensateAnimation {
      0% {
        max-width: 55%;
      }

      100% {
        max-width: 66%;
      }
    }
    &__title {
      max-width: 66%;
      animation: compensateAnimation 1s ease-in forwards,
        textwidthThick 1s ease-in forwards !important;
    }

    &__content {
      max-width: 60%;
    }

    &__properties {
      width: 30%;
      padding-bottom: $global-spacing-unit * 4;
      float: right;
    }
  }
}
