.c-logo {
  display: inline-block;
  height: 1em;

  svg {
    height: 100%;
    height: 99%;
    width: auto;
    fill: currentColor !important;
  }

  @include mq($from: tablet) {
    height: 1.3em;
  }
}
