/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
  display: inline-block; /* [1] */
  display: inline-flex;
  align-items: center;
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  padding: $global-spacing-unit $global-spacing-unit * 3;

  &__text {
    color: var(--color-bg);
    letter-spacing: 0.01em;
  }

  &__icon {
    margin-left: -$global-spacing-unit/2;
    margin-right: $global-spacing-unit/2;
    color: var(--color-bg);
  }

  &__icon path {
    fill: var(--color-bg);
  }

  &__text + &__icon {
    margin-left: $global-spacing-unit;
    margin-right: -$global-spacing-unit/2;
  }
}

/* Style variants
   ========================================================================== */

.c-btn--primary {
  color: var(--color-text);
  border: 1px solid currentColor;
  background-color: currentColor;
  transition: 300ms all;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  transition: $global-transition;
  font-family: $font-family-heading;

  .c-btn__text {
    transition: $global-transition;
    font-weight: 600;
    text-transform: uppercase;
  }

  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none; /* [4] */
  }

  &:hover {
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(-5px, -5px, 0);
    font-weight: 600;

    .c-btn__text {
    }
  }

  &:active {
    transition: 200ms all;
    transform: translate3d(0, 0, 0);
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2);
  }
}

/* Ghost buttons
   ========================================================================== */

/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */

.c-btn--ghost {
  background: transparent;
  border: 1px solid currentColor;

  .c-btn__text {
    color: currentColor;
  }

  .c-btn__icon path {
    fill: currentColor;
  }

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }
}
