.c-logo {
  display: block;
  height: 100%;

  svg {
    height: 20px;
    display: block;
    width: auto;
    fill: currentColor !important;

    @include mq($from: tablet) {
      height: $global-spacing-unit;
    }
  }
}
