.u-grid-from {
  @each $breakpoint, $_width in $mq-breakpoints {
    &--#{$breakpoint} {
      @include mq($from: $breakpoint) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.u-grid--top {
  align-items: flex-start;
}

.u-grid__full {
  flex: 1;
}
