.u-thick {
  font-weight: 700;

  @include mq($from: tablet) {
    font-weight: 900;
  }
}

.u-h4 {
  font-size: 1em;
  font-family: $font-family-heading;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}
