.u-text {
  line-height: 1.44;
  letter-spacing: -0.01em;

  ul {
    list-style: square;
    margin: $global-spacing-unit / 2 0;
    padding: 0;
    padding-left: $global-spacing-unit / 4;
  }

  li {
    margin: $global-spacing-unit / 4;
  }

  p {
    margin: $global-font-size 0;

    code {
      font-family: $font-family-heading;
      font-weight: 500;
      opacity: 0.9;
    }
  }

  a {
    text-decoration: underline;
    font-weight: 600;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  h2 {
    @extend .u-h2;
  }

  strong,
  b {
    font-weight: 600;
  }

  @include mq($from: tablet) {
    font-size: 18px / $global-font-size * 1em;
    line-height: 1.55;
    letter-spacing: -0.025em;

    ul,
    ol {
      padding-left: $global-spacing-unit;
    }

    li {
      margin: $global-spacing-unit/3 0;
    }
  }

  @include mq($from: desktop) {
    // font-size: 24px / $global-font-size * 1em;
    line-height: 1.69;
    letter-spacing: -0.01em;
  }
}

.u-text--intro {
  font-size: 1.2em;

  @include mq($from: desktop) {
    font-size: 1.5em;
  }
}
