.u-wrapper {
  max-width: 1640px / $global-font-size * 1em;
  margin: 0 auto;
  padding: 0 $global-spacing-unit;

  @include mq($from: tablet) {
    padding: 0 $global-spacing-unit * 2;
  }
}

.u-wrapper--nopadding {
  padding-left: 0;
  padding-right: 0;
}
