.u-photo {
  padding: $global-spacing-unit 0;
  padding: 5vh 0;

  img {
    display: inline-block;
    vertical-align: top;
    max-height: 75vh;
    margin-top: $global-spacing-unit;
  }

  &--full {
    padding: 0 !important;
    margin: $global-spacing-unit 0;

    img {
      max-height: none;
      max-width: none;
      width: 100%;
      margin-top: 0;
      border-left: 0;
      border-right: 0;
    }
  }

  &--screens {
    padding: $global-spacing-unit $global-spacing-unit !important;

    img {
      max-height: none;
      max-width: 100%;
      width: auto;
    }
  }

  &--display {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 0 $global-spacing-unit/3 * 2;

    div {
      margin: $global-spacing-unit/2 $global-spacing-unit/12 * 2 !important;
    }

    img {
      height: auto;
      max-height: none;
      max-width: 100%;
      margin: 0;
      border: 0;
    }

    .ui-photo__mobile {
      flex-basis: calc(375px * 1);
      border: 1px solid var(--color-text);
    }

    .ui-photo__desktop {
      flex-basis: calc(1440px * 1);
    }

    .ui-photo__mobile,
    .ui-photo__desktop {
      border: 1px solid var(--color-text);

      .u-dark & {
        border-color: var(--color-bg);
      }
    }

    @include mq($from: tablet) {
      margin: $global-spacing-unit $global-spacing-unit * 1.5;

      div {
        margin: 0 $global-spacing-unit/4 * 2 !important;
      }
    }
    @include mq($from: tablet) {
      margin: $global-spacing-unit;
      div {
        margin: $global-spacing-unit !important;
      }
    }
    @include mq($from: wide) {
      justify-content: space-around;
      margin: $global-spacing-unit * 2;
    }
  }

  @include mq($until: tablet) {
    padding: 0;

    .u-wrapper {
      max-width: none;
      padding: 0;
    }

    &--screens {
      padding: 0 !important;
      margin: 0 !important;

      img {
        margin-top: 0;
        border-top: 5px solid var(--color-bg);
      }
    }
  }

  @include mq($from: desktop) {
    &--screens {
      padding: 0 $global-spacing-unit * 1.5 !important;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: flex-start;

      img,
      video {
        height: auto;
        max-height: none;
        max-width: 47%;
        margin: $global-spacing-unit $global-spacing-unit/2 !important;
      }
    }
  }
}
