.u-thick {
  font-weight: 700;

  @include mq($from: tablet) {
    font-weight: 900;
  }
}

.u-h2 {
  @include font-size(33px, $important: true);
  font-weight: 700;
  margin: $global-spacing-unit * 4 0 $global-spacing-unit/2;

  .u-wrapper & {
    margin-top: $global-spacing-unit * 3;
  }

  @include mq($from: mobile) {
    // @include font-size(46px, $important: true);
  }

  @include mq($from: tablet) {
    // @include font-size(42px, $important: true);
  }

  @include mq($from: desktop) {
    // @include font-size(60px, $important: true);
  }

  @include mq($from: wide) {
    // @include font-size(73px, $important: true);
  }
}

.u-h4 {
  font-size: 1em;
  font-family: $font-family-heading;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}
