.u-photo {
  padding: $global-spacing-unit 0;
  margin: $global-spacing-unit 0;
  padding: 5vh 0;
  // text-align: center;

  img {
    display: inline-block;
    vertical-align: top;
    border-radius: $global-radius;
    max-height: 75vh;
  }

  @include mq($until: tablet) {
    padding: 0;

    .u-wrapper {
      max-width: none;
      padding: 0;
    }
  }
}
