.u-relative {
  position: relative;
}

.u-overflow {
  overflow: hidden;
}

.u-relative--top,
.u-absolute--top {
  z-index: 10;
}

.u-absolute {
  position: absolute;
}

.u-absolute--cornerbottom {
  bottom: 0;
  right: 0;
}

.u-absolute--cornertop {
  top: 0;
  left: 0;
}

.u-absolute--centertop {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
