<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if renderData.title or title %}{{ renderData.title or title }} |  {% endif %}{{ metadata.title }} - {{ metadata.description }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <meta name="theme-color" content="#222222">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <script src="{{ '/js/lazysizes.min.js' | url }}"></script>
    <link rel="icon" href="/images/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">

    <meta name="twitter:card" content="summary"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ metadata.url }}"/>
    <meta property="og:title" content="{% if renderData.title or title %}{{ renderData.title or title }} |  {% endif %}{{ metadata.title }}"/>
    <meta property="og:description" content="{{ metadata.description }}"/>
    {% if themeColor %}
      <meta property="og:image" content="https://res.cloudinary.com/jaicab/image/upload/f_auto,q_auto,b_rgb:{{ themeColor }}/v1597334258/caballero/caballero-opengraph.png"/>
    {% else %}
      <meta property="og:image" content="{{ metadata.url }}/images/facebook.png"/>
    {% endif %}
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>

    <link rel="preconnect" href="https://res.cloudinary.com">
    <link rel="dns-prefetch" href="https://res.cloudinary.com">

    <script>
      /* Dark mode JS */

      function getTheme() {
        if (!window.matchMedia) 
          return true;
        else 
          return window
            .matchMedia('(prefers-color-scheme: light)')
            .matches
        }

      function loadTheme() {
        var currentTheme = sessionStorage.getItem('theme');
        if (currentTheme === null) {
          currentTheme = getTheme()
          sessionStorage.setItem('theme', currentTheme)
        }

        var toggle = document.getElementById('lightSwitch');
        toggle.checked = currentTheme == 'true';

        if (!toggle.checked) 
          document
            .body
            .classList
            .add('u-dark')

        setTimeout(function () {
          document
            .body
            .classList
            .add('is-transitioning')
        }, 500)
      }

      function switchTheme(el) {
        sessionStorage.setItem('theme', el.checked)

        if (el.checked) 
          document
            .body
            .classList
            .remove('u-dark')
        else 
          document
            .body
            .classList
            .add('u-dark')
        }

      document.addEventListener("DOMContentLoaded", loadTheme);
    </script>

    <link href="//fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,600;0,700;0,900;1,420&family=Space+Mono:wght@400&display=swap" rel="stylesheet">

  </head>
  <body{% if templateClass %} class="{{ templateClass }}"{% endif %} {% if themeColor %} style="--color-bg: #{{ themeColor }};"{% endif %}>
    {% include "_header.njk" %}

    <main>
      {{ content | safe }}

      {% if map %}
        {% include "_map.njk" %}
      {% endif %}
    </main>

    {% include "_footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>