---
layout: layouts/base.njk
---
<div class="u-wrapper u-wrapper--text u-content">
  {{ content | safe }}

  <br/>
  <br/>
  <br/>
  <div class="u-wrapper u-center">
    <a class="c-btn c-btn--primary" href="{{ '/' | url }}">
      <span class="c-btn__icon">←</span>
      <span class="c-btn__text">Back home</span>
    </a>
  </div>
</div>