/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

html {
  font-family: "Epilogue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px; }

body {
  background: var(--color-bg);
  color: var(--color-text); }

h1 {
  font-size: 40px !important;
  font-size: 2.22222rem !important;
  line-height: 1.2 !important;
  margin: 0 0 0.25em;
  font-weight: 800; }
  @media (min-width: 23.4375em) {
    h1 {
      font-size: 46px !important;
      font-size: 2.55556rem !important;
      line-height: 1.17391 !important; } }
  @media (min-width: 46.25em) {
    h1 {
      font-size: 42px !important;
      font-size: 2.33333rem !important;
      line-height: 1.14286 !important; } }
  @media (min-width: 61.25em) {
    h1 {
      font-size: 60px !important;
      font-size: 3.33333rem !important;
      line-height: 1.1 !important; } }
  @media (min-width: 81.25em) {
    h1 {
      font-size: 73px !important;
      font-size: 4.05556rem !important;
      line-height: 1.15068 !important; } }

h2 {
  font-size: 30px !important;
  font-size: 1.66667rem !important;
  line-height: 1.2 !important;
  line-height: 1.2;
  margin-top: 2.5em;
  font-weight: 600; }

h3, .u-h3 {
  font-style: italic;
  color: var(--color-wine);
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  font-size: 26px !important;
  font-size: 1.44444rem !important;
  line-height: 1.38462 !important; }
  .u-dark h3, .u-dark .u-h3 {
    color: inherit; }
  @media (min-width: 46.25em) {
    h3, .u-h3 {
      font-size: 30px !important;
      font-size: 1.66667rem !important;
      line-height: 1.2 !important;
      margin-top: 2em;
      margin-bottom: 0.5em; } }
  @media (min-width: 61.25em) {
    h3, .u-h3 {
      font-size: 38px !important;
      font-size: 2.11111rem !important;
      line-height: 1.26316 !important; } }

a {
  text-decoration: none;
  color: inherit; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto; }

input,
button {
  font: inherit; }

.c-logo {
  display: inline-block;
  height: 1em; }
  .c-logo svg {
    max-height: 100%;
    width: auto; }
  @media (min-width: 46.25em) {
    .c-logo {
      height: 2em; } }

.c-nav-item a {
  display: block;
  padding: 15px 0; }

.c-nav-item a::after {
  content: "";
  display: block;
  width: 2em;
  height: 0.25em;
  transform: rotate(-2deg) scaleX(0);
  background: currentColor;
  opacity: 0.4;
  transform-origin: left center;
  margin-top: 0.15em;
  transition: all 200ms ease-out; }

.c-nav-item a:hover::after,
.c-nav-item a:focus::after {
  transform: rotate(-2deg) scaleX(1); }

.c-nav-item.is-active {
  font-weight: 700; }
  .c-nav-item.is-active a::after {
    background: var(--color-orange);
    transform: rotate(-2deg) scaleX(1) !important;
    transition: none;
    opacity: 1; }

@media (min-width: 46.25em) {
  .c-nav-item a {
    padding: 30px; } }

.c-tagline {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: var(--color-wine);
  margin: 1em 0 2em;
  opacity: 0.8; }
  .u-dark .c-tagline {
    color: inherit; }
  @media (min-width: 46.25em) {
    .c-tagline {
      margin-top: 1.2em;
      margin-bottom: 1em; } }
  @media (min-width: 61.25em) {
    .c-tagline {
      font-size: 1.2em; } }

/* ==========================================================================
   #BUTTONS
   ========================================================================== */
/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */
/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */
.c-btn {
  display: inline-block;
  /* [1] */
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  /* [2] */
  font: inherit;
  /* [3] */
  text-align: center;
  /* [4] */
  margin: 0;
  /* [4] */
  cursor: pointer;
  /* [5] */
  padding: 15px 45px;
  border-radius: 100px; }
  .c-btn__text {
    color: var(--color-cream);
    letter-spacing: 0.01em; }
  .c-btn__icon {
    margin-left: -15px;
    margin-right: 15px;
    margin-top: 3px;
    transform: scale(0.9); }
  .c-btn__icon path {
    fill: var(--color-cream); }
  .c-btn__text + .c-btn__icon {
    margin-left: 30px;
    margin-right: -15px; }

/* Style variants
   ========================================================================== */
.c-btn--primary {
  color: var(--color-orange);
  border: 1px solid currentColor;
  background-color: currentColor;
  box-shadow: 6px 8px 15px 0 rgba(246, 105, 70, 0.3);
  transition: all 300ms ease-in-out; }
  .c-btn--primary, .c-btn--primary:hover, .c-btn--primary:active, .c-btn--primary:focus {
    text-decoration: none;
    /* [4] */ }
  .c-btn--primary:hover, .c-btn--primary:focus {
    color: var(--color-orange-dark); }

/* Ghost buttons
   ========================================================================== */
/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */
.c-btn--ghost {
  background: transparent;
  border: 1px solid currentColor; }
  .c-btn--ghost .c-btn__text {
    color: currentColor; }
  .c-btn--ghost .c-btn__icon path {
    fill: currentColor; }
  .c-btn--ghost, .c-btn--ghost:hover, .c-btn--ghost:active, .c-btn--ghost:focus {
    background: none; }

.o-header {
  padding: 2em 0;
  margin-bottom: 3em; }
  @media (min-width: 46.25em) {
    .o-header {
      text-align: center; } }

.o-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around; }
  @media (min-width: 81.25em) {
    .o-nav li {
      margin-right: 30px; } }

.o-tile {
  width: 300px;
  height: 300px;
  display: block;
  background: var(--color-tile, #fff);
  padding: 30px;
  color: var(--color-black);
  transition: 300ms all;
  box-shadow: 0 0 0 0 var(--color-tile);
  transform: scale(1); }
  .o-tile:hover {
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.2), 10px 10px 0 0 var(--color-tile);
    transform: translate3d(-5px, -5px, 0); }
  .o-tile:active {
    transition: 200ms all;
    transform: translate3d(-2.5px, -2.5px, 0);
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2), 5px 5px 0 0 var(--color-tile); }

.o-hero .o-hero__photo {
  display: block;
  margin: 0 auto; }
  .o-hero .o-hero__photo img {
    max-width: 100%; }

@media (min-width: 46.25em) {
  .o-hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 0; }
    .o-hero .o-hero__photo {
      flex: 1;
      width: 50%;
      transform: translate(0, 30px); }
    .o-hero .o-hero__content {
      flex: 1;
      padding-right: 60px; } }

@media (min-width: 61.25em) {
  .o-hero .o-hero__photo {
    transform: translate(0, 20px); }
  .o-hero .o-hero__content {
    padding-top: 30px;
    padding-right: 90px; } }

@media (min-width: 81.25em) {
  .o-hero {
    padding-top: 15px;
    padding-bottom: 15px; } }

.o-intro {
  background-color: var(--color-love-dark) !important; }
  .o-intro .u-wrapper {
    padding-top: 90px;
    padding-bottom: 90px;
    background: url("/images/bg-intro.png") no-repeat;
    background-position: center -90px;
    background-size: auto 100%; }
  .o-intro__photo {
    padding: 30px;
    max-width: 20em;
    margin: 0 auto; }
  .o-intro h3, .o-intro .u-h3 {
    margin-top: 0; }
  @media (min-width: 46.25em) {
    .o-intro .u-wrapper {
      background-position: left center;
      background-size: auto 140%; }
    .o-intro__content {
      display: flex;
      align-items: center;
      justify-items: space-around;
      padding: 0 30px; }
      .o-intro__content > .u-text {
        flex: 2; }
    .o-intro__photo {
      flex: 0.8;
      margin-right: 30px;
      max-width: 45%;
      margin-left: -30px; } }
  @media (min-width: 61.25em) {
    .o-intro .u-wrapper {
      padding-top: 120px;
      padding-bottom: 120px; }
    .o-intro__content {
      display: flex;
      align-items: center;
      padding: 0 90px; }
      .o-intro__content > .u-text {
        flex: 1.2; }
    .o-intro__photo {
      margin-right: 60px;
      max-width: 30em;
      margin-left: 0; } }

.o-footer {
  padding: 60px 0 90px;
  background: var(--color-navy);
  border-top: 15px solid var(--color-wine); }

.u-h1 {
  font-size: 24px !important;
  font-size: 1.33333rem !important;
  line-height: 1.25 !important; }

.u-dark {
  color: var(--color-cream); }

.u-wrapper {
  max-width: 67.77778em;
  margin: 0 auto;
  padding: 0 30px; }
  @media (min-width: 46.25em) {
    .u-wrapper {
      padding: 0 60px; } }

.u-relative {
  position: relative; }

.u-overflow {
  overflow: hidden; }

.u-relative--top,
.u-absolute--top {
  z-index: 10; }

.u-absolute {
  position: absolute; }

.u-absolute--cornerbottom {
  bottom: 0;
  right: 0; }

.u-absolute--cornertop {
  top: 0;
  left: 0; }

.u-absolute--centertop {
  top: 0;
  left: 0;
  right: 0;
  margin: auto; }

.u-center {
  text-align: center; }

.u-right {
  text-align: right; }

@media (max-width: 23.4275em) {
  .is-hidden-until--mobile {
    display: none !important; } }

@media (max-width: 26.24em) {
  .is-hidden-until--mobile-x {
    display: none !important; } }

@media (max-width: 46.24em) {
  .is-hidden-until--tablet {
    display: none !important; } }

@media (max-width: 61.24em) {
  .is-hidden-until--desktop {
    display: none !important; } }

@media (max-width: 81.24em) {
  .is-hidden-until--wide {
    display: none !important; } }

@media (min-width: 23.4375em) {
  .is-hidden-from--mobile {
    display: none !important; } }

@media (min-width: 26.25em) {
  .is-hidden-from--mobile-x {
    display: none !important; } }

@media (min-width: 46.25em) {
  .is-hidden-from--tablet {
    display: none !important; } }

@media (min-width: 61.25em) {
  .is-hidden-from--desktop {
    display: none !important; } }

@media (min-width: 81.25em) {
  .is-hidden-from--wide {
    display: none !important; } }

.u-content {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 90px; }
  @media (min-width: 46.25em) {
    .u-content {
      margin-top: 90px;
      margin-bottom: 150px; } }

.u-text {
  line-height: 1.44;
  letter-spacing: -0.05em; }
  .u-text ul {
    margin: 15px 0;
    padding: 0;
    padding-left: 15px; }
  .u-text li {
    margin: 7.5px; }
  .u-text p {
    margin: 18px 0; }
  .u-text a {
    text-decoration: underline; }
    .u-text a:hover, .u-text a:focus {
      text-decoration: none; }
  .u-text strong,
  .u-text b {
    font-weight: 600; }
  @media (min-width: 46.25em) {
    .u-text {
      font-size: 1.11111em;
      line-height: 1.55;
      letter-spacing: -0.025em; }
      .u-text ul {
        padding-left: 30px; }
      .u-text li {
        margin: 15px 0; } }
  @media (min-width: 61.25em) {
    .u-text {
      font-size: 1.33333em;
      line-height: 1.55;
      letter-spacing: -0.025em; } }

.u-photo {
  margin: 0 -30px;
  width: 100vw;
  max-width: none; }
  @media (min-width: 46.25em) {
    .u-photo {
      float: right;
      max-width: 50%;
      border-radius: 5px;
      margin: 0 0 15px 30px; } }

.u-translucent {
  opacity: 0.8; }

@media (min-width: 23.4375em) {
  .u-grid-from--mobile {
    display: flex;
    align-items: center;
    justify-content: space-between; } }

@media (min-width: 26.25em) {
  .u-grid-from--mobile-x {
    display: flex;
    align-items: center;
    justify-content: space-between; } }

@media (min-width: 46.25em) {
  .u-grid-from--tablet {
    display: flex;
    align-items: center;
    justify-content: space-between; } }

@media (min-width: 61.25em) {
  .u-grid-from--desktop {
    display: flex;
    align-items: center;
    justify-content: space-between; } }

@media (min-width: 81.25em) {
  .u-grid-from--wide {
    display: flex;
    align-items: center;
    justify-content: space-between; } }

.u-grid__full {
  flex: 1; }

:root {
  --color-black: #222222;
  --color-white: #fafafa;
  --color-bg: #222222;
  --color-text: #fafafa; }
