blockquote {
  margin: $global-spacing-unit 0;

  p:first-child {
    font-size: 1.2em;
    font-style: italic;
  }

  @include mq($from: tablet) {
    p:first-child {
      font-size: 1.5em;
    }
    margin-left: $global-spacing-unit;
    margin-right: $global-spacing-unit;
  }
}
