h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  letter-spacing: 0;
}

h1 {
  @include font-size(22px, $important: true);
  margin: 0 0 0.25em;
  font-weight: 600;
  line-height: 1 !important;

  @include mq($from: mobile) {
    @include font-size(44px, $important: true);
    font-family: $font-family-funky;
    letter-spacing: 0.02em;
    word-spacing: 0.25em;
  }

  @include mq($from: tablet) {
    @include font-size(42px, $important: true);
  }

  @include mq($from: desktop) {
    @include font-size(72px, $important: true);
  }
}
