* {
  box-sizing: border-box;
}

html {
  font-family: $font-family-body;
  font-size: $global-font-size;
}

body {
  background: var(--color-bg);
  color: var(--color-text);

  &.tmpl-report {
    --color-text: var(--color-black);

    &.u-dark {
      color: var(--color-bg);
      background: var(--color-text);
    }
  }

  &.is-transitioning {
    transition: 500ms color, 500ms background-color;
  }

  @include mq($from: desktop) {

    &.is-transitioning .o-header {
      transition: 200ms all;
    }

    &.tmpl-report {
      padding-top: $global-spacing-unit * 6;

      .o-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        background: var(--color-bg);
        color: var(--color-text);

        &:hover {
          background: var(--color-text);
          color: var(--color-bg);
        }
      }

      &.u-dark .o-header {
        background: var(--color-text);
        color: var(--color-bg);

        &:hover {
          background: var(--color-bg);
          color: var(--color-text);
        }
      }
    }
  }
}
