pre {
  font-family: $font-family-heading;
  white-space: pre-wrap;
  word-wrap: break-word;
  tab-size: 2;

  margin: 1.2em -1rem;
  background: var(--color-white);

  code {
    font-size: 0.9em;
    line-height: 1;
  }

  @include mq($from: desktop) {
    border-radius: $global-radius;
    margin-left: -2em;
    margin-right: -2em;
    padding: 2em;
  }
}
