pre {
  font-family: $font-family-heading;
  white-space: pre-wrap;
  word-wrap: break-word;
  tab-size: 2;

  padding: $global-spacing-unit;
  color: var(--color-bg);
  background: var(--color-text);

  .u-dark & {
    color: var(--color-text);
    background: var(--color-bg);
  }

  line-height: 1;

  code {
    font-size: 0.8em;
  }

  @include mq($from: desktop) {
    
    padding: 2em;
  }
}
