h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $font-family-heading;
}

h1 {
  @include font-size(40px, $important: true);
  margin: 0 0 0.25em;
  font-weight: 800;

  @include mq($from: mobile) {
    @include font-size(46px, $important: true);
  }

  @include mq($from: tablet) {
    @include font-size(42px, $important: true);
  }

  @include mq($from: desktop) {
    @include font-size(60px, $important: true);
  }

  @include mq($from: wide) {
    @include font-size(73px, $important: true);
  }
}

h2 {
  @include font-size(30px, $important: true);
  line-height: 1.2;
  margin-top: 2.5em;
  font-weight: 600;
}

h3 {
  font-style: italic;
  color: var(--color-wine);
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  @include font-size(26px, $important: true);

  .u-dark & {
    color: inherit;
  }

  @include mq($from: tablet) {
    @include font-size(30px, $important: true);
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  @include mq($from: desktop) {
    @include font-size(38px, $important: true);
  }
}
