table {
  border-collapse: collapse;
  margin: $global-spacing-unit 0;
}

tr {
  border-left: 0;
  border-right: 0;
}
td,
th {
  padding: $global-spacing-unit/2 + 3px $global-spacing-unit/2
    $global-spacing-unit/2 0;
  line-height: 1.3;
}

th {
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}

td {
  font-family: $font-family-heading;
  text-transform: uppercase;
}

thead,
tbody {
  border-bottom: 1px solid currentColor;
}

tbody {
  tr + tr {
    border-top: 1px dashed currentColor;
  }
}
