* {
  box-sizing: border-box;
}

html {
  font-family: $font-family-body;
  font-size: $global-font-size;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  /*
  @media (prefers-color-scheme: dark) {
    color: var(--color-bg);
    background: var(--color-text);
  } */

  &.tmpl-report {
    --color-text: var(--color-black);
    transition: 500ms all;

    &.u-dark {
      color: var(--color-bg);
      background: var(--color-text);
    }

    .o-header:hover {
      background: var(--color-text);
      color: var(--color-bg);

      /*
      @media (prefers-color-scheme: dark) {
        background: var(--color-bg);
        color: var(--color-text);
      } */
    }
  }

  @include mq($from: desktop) {
    padding-top: $global-spacing-unit * 6;

    .o-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: var(--color-bg);
      z-index: 100;

      /*
      @media (prefers-color-scheme: dark) {
        background: var(--color-text);
      } */
    }

    &.u-dark .o-header {
      background: var(--color-text);
    }
  }
}
