h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $font-family-heading;
}

h1 {
  @include font-size(22px, $important: true);
  margin: 0 0 0.25em;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1 !important;

  @include mq($from: mobile) {
    @include font-size(28px, $important: true);
  }

  @include mq($from: tablet) {
    @include font-size(42px, $important: true);
  }

  @include mq($from: desktop) {
    @include font-size(46px, $important: true);
  }
}
