---
layout: layouts/base.njk
eleventyNavigation:
  key: Inicio
  order: 1

h1: Terapia especializada en Ponferrada
tagline: Personal y de parejas
---

<ul>
  {%- for report in collections.report -%}
    <li>
      <a class="o-tile" href="{{ report.url | url }}" style="--color-tile: {{ report.data.themeColor }}">
        <div class="c-tagline">{{ report.data.tagline }}</div>
        <h2 class="u-thick">{{ report.data.title }}</h2>
        <img src="{{ '/images/tiles/'+report.data.short+'.png' | url }}"/>
      </a>
    </li>
  {%- endfor -%}
</ul>