---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="u-wrapper">
  <div class="u-text">
    <h1 class="u-thick">Hi, I'm Jaime Caballero</h1>
    <p>I’m a Product Designer with a technical background, a digital nomad and a spaniard based in London</p>
  </div>
  <ul class="u-grid-from--desktop">
    {%- for report in collections.report -%}
      <li>
        <a class="o-tile" href="{{ report.url | url }}" style="--color-tile: {{ report.data.themeColor }}">
          <div class="c-tagline">{{ report.data.tagline }}</div>
          <h2 class="o-tile__title u-thick">{{ report.data.title }}</h2>
          <img src="{{ '/images/case-studies/'+report.data.short+'/tile.png' | url }}"/>
        </a>
      </li>
    {%- endfor -%}
  </ul>

  <br/>
  <br/>
  <br/>

  <div class="u-text">
    <h2>Some words from nice colleagues</h2>
    <br/>

    <br/>
    <br/>
    <blockquote class="o-article__content">
      <p>Jaime’s attention to detail and commitment to progressive enhancement are an inspiration. He is a pleasure to work with and has a keen eye for design. Simply a joy to work with.</p>
    </blockquote>
    <p>
      <div>
        <strong>Anna Corbett</strong>
      </div>
      <div class="c-tagline">Head of Search at Base Creative</div>
    </p>

    <hr/>

    <br/>
    <br/>
    <blockquote class="o-article__content">
      <p>It was great to see Jaime at work. He managed to put together a stubborn CEO, a techie CTO and a businessy Product Manager and abstract that into scoped projects for design and development. He even established agile in the company!</p>
    </blockquote>
    <p>
      <div>
        <strong>Michelle Choi</strong>
      </div>
      <div class="c-tagline">Designer and Illustrator</div>
    </p>
    <hr/>

    <br/>
    <br/>
    <blockquote class="o-article__content">
      <p>I have worked with Caballero on a number of projects and consistently seek to hire him at any company that i work with!</p>
    </blockquote>
    <p>
      <div>
        <strong>Phillip Cummins</strong>
      </div>
      <div class="c-tagline">Engineer at Transferwise</div>
    </p>
    <hr/>
  </div>
</div>